/* -------- TITULAR -------- */
.internet_plan_form .form_title {
    margin-bottom: 20px;
}

.internet_plan_form .form_title h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.internet_plan_form .form_title span {
    font-size: 13px;
    color: #777;
}

/* -------- CAMPOS -------- */
.internet_plan_form input,
.internet_plan_form textarea {
    border-radius: 8px !important;
    border: 1px solid #ddd !important;
    background: #f7f7f9 !important;
    padding: 10px !important;
}

.internet_plan_form label {
    font-weight: 600 !important;
    margin-bottom: 4px !important;
    width: 120px !important;
}

/* -------- TOGGLE REAL DE ODOO 17 -------- */
.internet_plan_form .o_toggle {
    width: 40px !important;
    height: 22px !important;
    border-radius: 12px !important;
}

.internet_plan_form .o_toggle.o_checked .o_toggle_track {
    background: #4f46e5 !important;
}

.internet_plan_form .o_toggle .o_toggle_track {
    background: #d1d5db !important;
}

.internet_plan_form .o_toggle .o_toggle_handle {
    background: white !important;
    border-radius: 50% !important;
}
