.list_card {
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease;
}

.list_card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.list_card .label-card {
    font-size: 12px;
    font-weight: bold;
    color: var(--color-gray-500);
    padding: 4px 8px;
    display: inline-block;
    margin-bottom: 8px;
}

.o_text_overflow {
    border: var(--color-gray-500);
    border-radius: 10px;
}
